<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995857913091-5e8ld7en5nhl815od395agtuqbg97bce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995857913091-5e8ld7en5nhl815od395agtuqbg97bce</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_K85Cvx52J6AEGUZwf-AuiCljyyTkkM</string>
	<key>GCM_SENDER_ID</key>
	<string>995857913091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentest117</string>
	<key>PROJECT_ID</key>
	<string>fir-test-117</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995857913091:ios:c97c63e9b8d676969dc536</string>
</dict>
</plist>